body {
  margin: 0;
  background: #0b0f14;
  color: #eaeaea;
  font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #0f1620;
}

.logo {
  text-align: center;
  margin: 0;
}

.glow {
  color: #4fc3ff;
  text-shadow: 0 0 10px #4fc3ff;
}

#search {
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #111827;
  color: white;
}

/* GENRE */
.genre-bar {
  display: flex;
  overflow-x: auto;
  gap: 8px;
  padding: 10px;
}

.genre-bar button {
  background: #111827;
  color: #ccc;
  border: none;
  padding: 8px 14px;
  border-radius: 20px;
}

/* GRID KOMIK */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 12px;
  padding: 12px;
}

.card {
  background: #111827;
  border-radius: 10px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.card h3 {
  font-size: 14px;
  padding: 8px;
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 15px;
  font-size: 14px;
}
.footer a {
  color: #4fc3ff;
  text-decoration: none;
  }
